---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="">
		<!-- <section class="intro">
			<div class="container">
				<h2>About me.</h2>
				<p>{{ site.description }}</p>
			</div>
		</section> -->
		<section class="projects">
			<div class="container">
				<h2>Vs Code Terminal Themes</h2>
				<div class="row">
					{% for item in site.data.themes %}
					<div class="col s12 m12">
						<div class="card" style="text-align: center; background-color: {{ item.colors['terminal.background'] }};">
						<div class="card-content" style="color: {{ item.colors['terminal.foreground'] }};">
							<span class="card-title">{{ item.name }}</span>
							<div style="padding: 5px;">
								{% for color in item.colors %}
									{% case color[0] %}
										{% when 'terminal.background' %}
										{% when 'terminal.foreground' %}
										{% when 'terminalCursor.background' %}
										{% when 'terminalCursor.foreground' %}
											<!-- do nothing -->
										{% when 'terminal.ansiBlack' %}
										<div class="swatch__color" style="background-color: {{ color[1] }}; border-color: {{ item.colors['terminal.foreground'] }}"></div>
										{% else %}
										<div class="swatch__color" style="background-color: {{ color[1] }}; border-color: {{ color[1] }}"></div>
									{% endcase %}
								{% endfor %}
							</div>
							<div class="terminal">
								<div class="terminal__screen" style="background-color:{{ item.colors['terminal.background'] }}; border-color: {{ item.colors['terminal.foreground'] }};">
									<span style="color: {{ item.colors['terminal.ansiWhite'] }};">raja19@mac&nbsp;</span>
									<span style="color: {{ item.colors['terminal.ansiBlack'] }}; background-color: {{ item.colors['terminal.ansiBlue'] }}"></span>
									<span style="color: {{ item.colors['terminal.ansiBlack'] }}; background-color: {{ item.colors['terminal.ansiBlue'] }};">&nbsp;~/leads&nbsp;</span>
									<span style="color: {{ item.colors['terminal.ansiBlue'] }}; background-color: {{ item.colors['terminal.ansiYellow'] }};"></span>
									<span style="color: {{ item.colors['terminal.ansiBlack'] }}; background-color: {{ item.colors['terminal.ansiYellow'] }};">&nbsp; master&nbsp;</span>
									<span style="color: {{ item.colors['terminal.ansiYellow'] }};"></span>
									<span style="color: {{ item.colors['terminal.ansiWhite'] }};">&nbsp;ls&nbsp;</span>
									<span style="color: {{ item.colors['terminal.ansiWhite'] }};">█</span>
								</div>
							</div>
						</div>
						<div class="card-action">
							<button class="btn waves-effect waves-light" style="background-color: {{ item.colors['terminal.foreground'] }}; color: {{ item.colors['terminal.background'] }}">View settings</button>
							<button class="btn waves-effect waves-light" style="background-color: {{ item.colors['terminal.foreground'] }}; color: {{ item.colors['terminal.background'] }}">Copy to Clipboard</button>
						</div>
						</div>
					</div>
					
					{%- comment -%} <span class="h2">{{ item.id }}</span>
					<h3>{{ item.name }}</h3> {%- endcomment -%}
				
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.github.url }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.github.url }}"></script>
</body>
</html>